.root_box{
  box-sizing: border-box;
  margin: 0;
  width: 600px;
  min-height: 400px;
  border: 1px solid blue;
}
.snippet_box{
  height: 400px;
  background-color: bisque;
}
.bottom_box{
  background-color: antiquewhite;
}

.header_box{
  background-color: blanchedalmond;
}

